/* CSS Document */
body {padding-top:20px;width:800px;margin-left:auto;margin-right:auto;font-family:Verdana;font-size:0.9em;}
#sign {float:right;text-align:right;padding-top:27px;}
#sign p {font-size:0.8em;color:gray;}
#footer p {color:gray;font-size:0.7em;}
#ikonky img {border:0;width:88px;height:31px;}
#ikonky ul {list-style-type:none;}
#odkazy ul {list-style-type:none;font-size:0.8em;}
#nav {font-size:1.5em;}
#paid {font-size:1.2em;}